<h1>New translation</h1>
<form action = "/translate/result">
<label for = "user_input">Say what?</label>
<textarea id = "user_input" type = "text" name = "user_input_to_translate"></textarea>


<label for = "phone">To who?</label>
<input id = "phone" type = "text" name = "phone_number"></input>
<button>Translate</button>
</form>