<h1>New addition</h1>

<form action="/add_together">
  <label for="first_add">Add this:</label>
  <input type="text" id="first_add" name="first_num">

  <label for="second_add">to this:</label>
  <input type="text" id="second_add" name="second_num">

  <button>Add!</button>
</form>