<h1>New subtraction</h1>

<form action="/subtract_together">
  <label for="first_sub">Subtract this:</label>
  <input type="text" id="first_sub" name="first_num">

  <label for="second_sub">from this:</label>
  <input type="text" id="second_sub" name="second_num">

  <button>Subtract!</button>
</form>